// Used for editing and creation
.row
  .span3
    h3 Korean
  .span12
    input(name='entry[korean][hangul]', value=entry.korean.hangul || '')
    span.help-inline Must be in hangul 한글

.row
  .span3
    h3 Senses
    p Hover over ? marks for field information.

  .span12
    table.zebra-striped
      thead
        th Hanja 
          a(href="#", rel='popover', data-original-title='Hanja', data-content='Optional. Must contain only chinese characters. Separate alternative characters semi-colons. Example: "國; 国"') ?
        th English 
          a(href="#", rel='popover', data-original-title='English', data-content='Required. Must contain only alphabet characters, numbers and punctuation. Separate alternative definitions of the same sense with semi-colons. Example: "bacon; ham; gammon"') ?
        th POS 
          a(href="#", rel='popover', data-original-title='Part of Speech', data-content='Optional. Select from the drop-down menu.') ?
        th Del 
          a(href="#", rel='popover', data-original-title='Delete', data-content='Delete the word sense. Useful when merging identical word senses.') ?
      input(type="hidden", name="count", value="#{entry.senses.length}", id="count")
      tbody(id="senses_tbody")
        - each sense, i in entry.senses
          //tr
            td
              input.span2(name='entry[hanjas][]', value=sense.hanja_all || '')
            td
              input.span7(name='entry[englishes][]', value=sense.definitions.english_all || '')
            td
              select.span2(name="entry[poses][]")
                option(value="") - Unknown -
                - each pos in all_pos
                  - if (pos == sense.pos)
                    option(value=pos, selected='yes')= pos
                  - else
                    option(value=pos)= pos
            td
              a.btn.danger.small.delete_sense(href="#") X
          tr
            td
              input.span2(name='entry[senses][#{i}][hanja_all]', value=sense.hanja_all || '')
            td
              input.span6(name='entry[senses][#{i}][definitions][english_all]', value=sense.definitions.english_all || '')
            td
              select.span2(name="entry[senses][#{i}][pos]")
                option(value="") - Unknown -
                - each pos in all_pos
                  - if (pos == sense.pos)
                    option(value=pos, selected='yes')= pos
                  - else
                    option(value=pos)= pos
            td
              a.btn.danger.small.delete_sense(href="#") &ndash;

    a.btn.success.add_sense(href="#") Add sense

//.alert-message.block-message.warning
  a.close(href='#') ×
  p
    strong Holy guacamole! This is a warning!
  | Best check yo self, you’re not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
  .alert-actions
    a.btn.small.danger(href="#") Delete
    | 
    a.btn.small(href="#") Cancel
    

  


//- if (create != true)
  h3 Flags
  - if (entry.flags.length != 0)
    ul
    - each flag, i in entry.flags
      li= flag
  - else
    p (none)
  
  div
    h4 Legacy data
    ul
      li Submitter: #{ entry.legacy.submitter }
      li WordID: #{ entry.legacy.wordid }
      li Table: #{ entry.legacy.table }
  
