include ../mixins

script
  /*
  $('.editable').editableSet({
    action: '/entries/#{entry.id}/update',
    afterSave: function() {
      alert( 'Saved Successfully!' );
    }
  });
  */

.page-header
  h1
    span(data-name='entry[korean][hangul]')= entry.korean.hangul


    small
      div(style='float: right;')
        a.btn.small(href='/entries/#{entry._id}/edit') Temp Edit 
        //- if (typeof currentUser !== 'undefined')
          a.btn(href='/entries/#{entry._id}/edit') Edit
        //- else
          a.btn(href='/login') Login to edit

.row
  .span12
    .row
      .span3
        h3#definitions Definitions
      .span9
        - each sense, i in entry.senses
          .row(id="#{i+1}")
            .span9
            h3
              a(href='\##{i+1}', name='#{i+1}')= entry.korean.hangul
              sup.meaning= i+1
              small= sense.pos
 
            - if (sense.hanja && sense.hanja.length > 0)
              span.hanja (#{sense.hanja_all}) 
          
            ul
              - each word in sense.definitions.english
                - if (word == '')
                  li (Undefined, please fix!)
                - else
                  li= word
    .row
      .span3
        h3#examples Examples
    
      .span6
        h6
          a(href="http://tatoeba.org/eng/sentences/search?query=#{entry.korean.hangul}&from=kor") Search for examples on Tatoeba.org
    

  .span4
    h6#pronunciation Pronunciation
    table
      tr
        td Hangul
        td= entry.korean.hangul
      tr
        td Others
        td Coming soon


.row
  .span12
    .row
      .span3
        h3 Internal
        p This information is useful for developers

      .span9
        - each sense, i in entry.senses
          h6 Sense \##{i+1}
          p #{sense.definitions.english_all}
          table
            tr
              th Internal ID
              td= sense._id
            tr
              th Submitter
              td= sense.legacy.submitter
            tr
              th WordID
              td= sense.legacy.wordid
            tr
              th Table
              td= sense.legacy.table

  .span4
    h6 Tags
    mixin tag_list(entry.tags)
  
    h6 Revisions
    ul.unstyled
      - each update in updates
        li (#{update.created_at}) 
          span(class="label #{update.type}")= update.type 
          a(href="/updates/#{update._id}")= update._id

